<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
    <script src="axios.js"></script>
</head>

<body>
    <div id="app">
        <div class="username">
            <input type="text" placeholder="用户名：" v-model="name">
        </div>
        <div class="mail">
            <input type="text" placeholder="密码：" v-model="mail">
        </div>
        <div class="upload-btn" @click="upLoad">上传</div>
        <div class="show-btn" @click="show">显示用户</div>
        <ul class="person-list" v-if="personList.length">
            <li class="person" v-for="person in personList">
                <span>{{ person.name }}</span>
                <span>{{ person.mail }}</span>
            </li>
        </ul>
    </div>

    <script>
        axios.defaults.baseURL = 'https://developer.duyiedu.com/vue';

        const instance = axios.create({
            baseURL: 'https://developer.duyiedu.com/vue'
        })

        const vm = new Vue({
            el: '#app',
            data: {
                name: '',
                mail: '',
                msg: '',
                personList: []
            },
            methods: {
                upLoad() {
                    const { name, mail } = this;

                    // axios('/setUserInfo', {
                    //     method: 'post',
                    //     baseURL: 'https://developer.duyiedu.com/vue',
                    //     data: {
                    //         name,
                    //         mail
                    //     }
                    // }).then(res => {
                    //     this.msg = res.data.msg;
                    // })

                    // axios.post('/setUserInfo', { name, mail }, {
                    //     baseURL: 'https://developer.duyiedu.com/vue',
                    // }).then(res => {
                    //     this.msg = res.data.msg;
                    // })

                    // axios.post('/setUserInfo', { name, mail }).then(res => {
                    //     this.msg = res.data.msg;
                    // })

                    instance.post('/setUserInfo', { name, mail }).then(res => {
                        this.msg = res.data.msg;
                    })

                    axios.all([ 
                        axios.post('/setUserInfo', { name, mail }),
                        axios.get('/getUserInfo')
                    ]).then(axios.spread((postRes, getRes) => {
                        console.log(postRes, getRes);
                    }))
                },

                show() {
                    // axios({
                    //     method: 'get',
                    //     baseURL: 'https://developer.duyiedu.com/vue',
                    //     url: '/getUserInfo'
                    // }).then(res => {
                    //     this.personList = res.data.data
                    // })

                    // axios('/getUserInfo', {
                    //     method: 'get',
                    //     baseURL: 'https://developer.duyiedu.com/vue',
                    // }).then(res => {
                    //     this.msg = res.data.msg;
                    //     this.personList = res.data.data
                    // })

                    // axios.get('/getUserInfo', {
                    //     baseURL: 'https://developer.duyiedu.com/vue',
                    // }).then(res => {
                    //     this.msg = res.data.msg;
                    //     this.personList = res.data.data
                    // })

                    // axios.get('/getUserInfo').then((res) => {
                    //     this.msg = res.data.msg;
                    //     this.personList = res.data.data
                    // })

                    instance.get('/getUserInfo').then((res) => {
                        this.msg = res.data.msg;
                        this.personList = res.data.data
                    })


                },
            },

            watch: {
                msg() {
                    if (this.msg === '') {
                        return
                    } else {
                        alert(this.msg);
                        this.msg = '';
                    }
                }
            },
        })

    </script>
</body>

</html>