<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
</head>

<body>
    <div id="app">
        <div class="username">
            <input type="text" placeholder="用户名：" v-model="username">
        </div>
        <div class="mail">
            <input type="text" placeholder="密码：" v-model="mail">
        </div>
        <div class="upload-btn" @click="upLoad">上传</div>
        <div class="test-btn" @click="jsonp">jsonp</div>
        <div class="show-btn" @click="show">显示用户</div>
        <ul class="person-list" v-if="personList.length">
            <li class="person" v-for="person in personList" >
                <span>{{ person.name }}</span>
                <span>{{ person.mail }}</span>
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                username: '',
                mail: '',
                msg: '',
                personList:[]
            },
            methods: {
                upLoad() {
                    this.$http.post('https://developer.duyiedu.com/vue/setUserInfo', {
                        name: this.username,
                        mail: this.mail
                    }).then(res => {
                        this.msg = res.body.msg;
                    }, err => {
                        this.msg = err.body.msg;
                    })
                },
                show() {
                    this.$http.get('https://developer.duyiedu.com/vue/getUserInfo').then(res => {
                        return res.json()
                    }).then(res=>{
                        this.personList = res.data.splice(0, 50);
                    })
                },
                jsonp(){
                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                        params:{
                            wd:"GitHub"
                        },
                        jsonp:'cb'
                    }).then(res=>{
                        return res.json()
                    }).then(res=>{
                        console.log(res.s);
                    })
                }
            },
            watch: {
                msg() {
                    if (this.msg === '') {
                        return
                    } else {
                        alert(this.msg);
                        this.msg = '';
                    }
                }
            },
        })

    </script>
</body>

</html>