@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592788016289'); /* IE9 */
  src: url('iconfont.eot?t=1592788016289#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABpwAAAJ+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgp4gQEBNgIkAwwLCAAEIAWEbQdKG9MFERWUK2R/gExu9QMg1QlszhZuZzzxAz8sBFF3HtMuqBRGQQIAAAAABP9fe925+/aHpbVqgyKSKFRVzTK41l00VeERsmkQqsnvaBKVACAArnnfi0RrG64tQ3gWhQOA9QRPXLoeegCsv7UptVPoCMOUnAffZZnJ84twIV35f1lZ6fgduIiqyue5nN41gLJofstymmP4US/AOKAAx1oUWRFFnIHtBgXhyr8dh0CeJgZQZ6bXF3jxOAEd1zczYRDleVUIJLGwNKYbkRBe3Qtkqu/rP6YAJ4rEU9Mr3aXpuD8esP3smC8IYiB0dQQMDAAeGi5m0xgplsnLeh3wr35CPJAV9xd29Fe2g/66tL4AQA/NOcT9mRBCPLACB8AAJIb5BqCTMSuuEVUql9XvXZW7itd+5Sq36FNNfFHZTK/eTH6STHPtvOQ3VU/J6bdtxkuvsv4dzvU/lSqJa2OZ/YxNXQDWcAsIz7PP712xD/kxgLeqzpHK7GF+CN/1CXYkA1t8oIhtFnvSTBr5TRHgdqBiHSAbB8v4PK+vhJtBgsoT/hyNHUzQQXrmACL5JpAQJJGnn9TqfOVsYBTnQR8nBFLCPZwiDzAlvJKe+YFIFV9IKJEhz5zYMl+XAPZIcFCcYfyDnXil1KHHuvGG5h0G6Ssqzgtltwkos2JcaHFFuWPG/jGVKgEJR2jIaRgCwybscNJsUd3qPKelN2UTx+QIwUFxhvEPduKVis56nHz+huYdBtmg9EVfKLvtHcqsAMhWu0KUf3ll/5hKlYCEIzRkEIbAsC0PcjhptpxIb3WetCNUm72vj/bbBeQRX25yMnnaFDusJmA6sirH67BSrFk0SQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1592788016289') format('woff'),
  url('iconfont.ttf?t=1592788016289') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592788016289#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-bottom:before {
  content: "\e62b";
}

.icon-triangle-right:before {
  content: "\e62c";
}

